#container-homepage-banner {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 450px;
  position: relative;
}

#container-homepage-banner img {
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}
