#container-my-games-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#container-my-games-component img {
  width: 325px;
  height: 150px;
}

.container-own-games-inner {
  display: flex;
  font-size: 0;
}

.container-game-details-my-games {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 325px;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 10px 10px 10px 10px;
  height: 150px;
}

.container-title-date {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container-buttons-my-games {
  display: flex;
  position: relative;
}

.container-buttons-my-games button {
  height: 50px;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  color: var(--logo-color);
  cursor: pointer;
}

.container-delete-game-confirmation {
  display: flex;
  width: 100%;
  position: absolute;
  background-color: black;
  color: var(--logo-color);
}
