#container-my-games-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#container-my-games-component img {
  width: 325px;
  height: 150px;
}

.container-own-game-inner {
  display: flex;
}

.container-game-details-my-games {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 325px;
  height: 150px;
  gap: 5px;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 10px 10px 10px 10px;
}

.container-title-date {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container-buttons-my-games {
  display: flex;
  width: 100%;
  position: relative;
}

.container-buttons-my-games button {
  height: 50px;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
}

.container-edit-game-confirmation {
  display: flex;
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
}

.container-delete-game-confirmation {
  display: flex;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.container-edit-game-confirmation button,
.container-delete-game-confirmation button {
  width: 100%;
  background-color: black;
  color: white;
}
