#container-user-profile-page {
  min-height: 1300px;
  background-color: rgb(13, 13, 13);
  background-image:
    linear-gradient(45deg, rgba(255, 255, 255, 0.7) 25%, transparent 25%),
    linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgba(255, 255, 255, 0.7) 75%),
    linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, 0.7) 75%);
  background-size: 10px 10px;
  background-blend-mode: overlay;
}

#container-profile-content {
  width: 940px;
  min-height: 1300px;
  background:
    linear-gradient(5deg, rgba(60, 20, 60, 0.6) 0%, rgba(90, 30, 90, 0.6) 50%, rgba(60, 20, 60, 0.6) 80%),
    linear-gradient(25deg, rgba(60, 20, 60, 0.6) 0%, rgba(90, 30, 90, 0.6) 50%, rgba(60, 20, 60, 0.6) 80%);
  background-blend-mode: overlay;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "left-user-profile right-user-profile";
  column-gap: 15px;
  padding: 40px 15px 100px 15px;
}

#container-profile-content-left {
  grid-area: left-user-profile;
  display: flex;
  flex-direction: column;
  width: 650px;
}

#container-profile-details-left {
  display: flex;
  gap: 40px;
  margin-bottom: 25px;
}

#container-profile-details-user-profile {
  display: flex;
}

#container-profile-content-left-name {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 15px;
}

#container-profile-details-left>img {
  border: 2px solid gray;
  width: 185px;
  height: 185px;
}

#container-profile-content-right {
  grid-area: right-user-profile;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#container-level-user-profile {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  color: white;
  padding-top: 15px;
}

#container-level-inner+div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
}



#container-points-description {
  background-color: rgb(0, 0, 0, 0.4);
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
}

#container-points-description p {
  color: var(--logo-color);
  font-size: 13px;
}

#container-points-accumulated {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

#container-tab-items-user-profile {
  margin-top: 20px;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 15px 10px 45px 10px;
}

#container-tab-items-user-profile nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  margin-top: 40px;
}

.active-link {
  text-decoration: underline;
  color: #67C1F5;
}
