#container-login-page {
  display: flex;
  justify-content: center;
  height: 1150px;
  background-image: url("../../../public/login-banner.jpg");
  background-position: center;
}

#container-login-page::before {
  content: '';
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#container-login-form {
  position: absolute;
}

#container-login-form h1 {
  margin-top: 100px;
  margin-bottom: 40px;
  font-weight: 900;
  color: white;
}

#container-login-form form {
  display: grid;
  column-gap: 40px;
  grid-template-areas: "left right";
  background-color: var(--nav-background-color);
  padding: 40px;
}

#container-login-form label {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 12px;
}

#container-login-form input {
  width: 395px;
  height: 40px;
  background-color: var(--input-background-color);
  color: white;
}

#container-login-form-left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#container-login-form-left button {
  width: 270px;
  height: 45px;
  color: white;
  background: linear-gradient(to right, rgb(37, 190, 251), rgb(48, 118, 249));
  font-size: 16px;
  margin-top: 30px;
  align-self: center;
  background-color: transparent;
}

#container-login-form-right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  gap: 3px;
  grid-area: right;
  font-size: 12px;
}

#container-login-form-right img {
  box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.5);
}
