#container-game-listing-component {
  margin-top: 80px;
  background: linear-gradient(to bottom, rgb(43, 71, 93), var(--body-background-color));
  padding-bottom: 100px;
}

#container-game-listing {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "left-listing right-listing";
  column-gap: 12px;
  padding-top: 10px;
}

#container-game-listing-left {
  grid-area: left-listing;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

#container-game-listing-bar {
  background-color: var(--nav-background-color);
  opacity: 0.7;
  display: flex;
}

#container-game-listing-details-left {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 72%;
}

#container-game-listing-details-left-inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 12px;
}

#container-game-listing-right {
  grid-area: right-listing;
  background: linear-gradient(to left, rgb(151, 187, 210), rgb(133, 155, 171));
  width: 309.33px;
  padding: 20px 15px;
  position: relative;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 735px;
}

.tab-title-game-listings {
  position: absolute;
  top: -36px;
  left: 2px;
  color: white;
  background-color: rgb(43, 71, 93);
  padding: 6px 8px;
  font-size: 14px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#container-overall-reviews {
  font-size: 12px;
  color: var(--logo-color);
  background-color: #26364599;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 2px;
}

#container-genre-tags-game-listing {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.tags-game-listing {
  width: fit-content;
  color: white;
  font-size: 12px;
  background-color: #26364599;
  padding: 3px 10px;
  border-radius: 2px;
  font-size: 11px;
}

#container-screenshots-game-listing {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#container-game-listing-right button {
  height: 30px;
  background: linear-gradient(to right, rgb(119, 175, 59), rgb(91, 137, 46));
  font-size: 16px;
  padding: 0 20px;
  color: var(--logo-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  position: absolute;
  bottom: 20px;
  width: 280px;
}

#container-game-listing-right button:hover {
  background: linear-gradient(to right, rgb(149, 205, 89), rgb(111, 167, 56));
  color: white;
}

#small-divider-game-listings {
  background-color: rgb(133, 155, 171);
  height: 69px;
  width: 12px;
  position: absolute;
  right: -23px
}

.right-side-content {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#date-game-listings {
  position: absolute;
  color: #4C6C8C;
  font-size: 12px;
  right: 0;
  bottom: 0;
  padding-bottom: 3px;
}

.right-side-content.fade-in {
  opacity: 1;
}

.right-side-content.fade-out {
  opacity: 0;
}

@media screen and (max-width: 1000px) {
  #container-game-listing {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #container-game-listing-details-left {
    width: 100%;
    padding-right: 20px;
  }

  #container-game-listing-right {
    display: none;
  }

  #small-divider-game-listings {
    display: none;
  }

  #date-game-listings {
    right: 20px;
  }
}
