#container-game-listing-component {
  margin-top: 80px;
  background: linear-gradient(to bottom, rgb(43, 71, 93), var(--body-background-color));
  padding-bottom: 100px;
}

#container-game-listing {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "left-listing right-listing";
  column-gap: 12px;
  padding-top: 10px;
}

#container-game-listing-left {
  grid-area: left-listing;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

#container-game-listing-bar {
  background-color: var(--nav-background-color);
  opacity: 0.7;
  display: flex;
}

#container-game-listing-details-left {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 72%;
}

#container-game-listing-details-left-inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 12px;
}

#container-game-listing-right {
  grid-area: right-listing;
  background: linear-gradient(to right, rgb(151, 187, 210), rgb(133, 155, 171));
}

.tab-title-game-listings {
  position: absolute;
  top: -36px;
  left: 2px;
  color: white;
  background-color: rgb(43, 71, 93);
  padding: 6px 8px;
  font-size: 14px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
