.container-create-game-page {
  background-color: rgb(13, 13, 13);
  background-image:
    linear-gradient(45deg, rgba(255, 255, 255, 0.7) 25%, transparent 25%),
    linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgba(255, 255, 255, 0.7) 75%),
    linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, 0.7) 75%);
  background-size: 10px 10px;
  background-blend-mode: overlay;
}

.container-create-game-page form {
  width: 940px;
  background:
    linear-gradient(5deg, rgba(102, 51, 0, 0.6) 0%, rgba(153, 76, 0, 0.6) 50%, rgba(102, 51, 0, 0.6) 80%),
    linear-gradient(25deg, rgba(102, 51, 0, 0.6) 0%, rgba(153, 76, 0, 0.6) 50%, rgba(102, 51, 0, 0.6) 80%);
  background-blend-mode: overlay;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "left-create-game right-create-game";
  column-gap: 20px;
  padding: 40px 15px 100px 15px;
}

.container-create-game-page h1 {
  align-self: flex-start;
  color: var(--logo-color);
}

.container-create-game-form-left {
  grid-area: left-create-game;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container-buttons-game-form-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-containers {
  position: relative;
}

.input-containers>input {
  cursor: pointer;
}

.floating-placeholders {
  position: absolute;
  top: 10px;
  left: 5px;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
  color: #999;
  font-size: 16px;
}

.post-inputs:focus+.floating-placeholders {
  top: -20.5px;
}

#calendar-arrow {
  position: absolute;
  top: 11px;
  right: 40px;
  color: white;
  font-size: 1.1rem;
}

#calendar-circle {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 6px;
}

.container-create-game-form-left input {
  height: 40px;
  width: 600px;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 1;
  position: relative;
  color: white;
}

.container-create-game-form-left textarea {
  height: 150px;
  width: 600px;
  outline: none;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 1;
  position: relative;
  border: none;
  color: white;
}

.container-create-game-page button {
  height: 40px;
  width: 100%;
  border-radius: 2px;
  outline: none;
  color: white;
  background: linear-gradient(to right, rgb(37, 190, 251), rgb(48, 118, 249));
  font-size: 16px;

}

.container-create-game-form-right {
  grid-area: right-create-game;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
}

.container-label-input-image {
  display: flex;
  flex-direction: column-reverse;
  gap: 3px;
  font-size: 12px;
  color: #999;
}

.input-file-image {
  width: 100%;
  background-color: rgb(0, 0, 0, 0.3);
  padding: 9px;
  color: white;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

#container-screenshot-previews {
  display: flex;
  flex-direction: column;
}
