#container-game-details-page {
  background-color: var(--body-background-color);
}

#container-game-details-page h1 {
  color: white;
  font-size: 2rem;
  width: 940px;
  margin: 0 auto;
  padding: 100px 0 20px 0;
}

#container-game-details-page-inner {
  width: 940px;
  margin: 0 auto;
}

#container-game-carousel-game-details {
  display: grid;
  grid-template-columns: 1.75fr 1fr;
  grid-template-areas: "left-carousel right-carousel";
  background: linear-gradient(to top, rgba(11, 17, 22, 0.7), rgb(27, 40, 55, 0.5));
  column-gap: 15px;
  padding-bottom: 15px;
}

#container-game-carousel-game-details-left {
  grid-area: left-carousel;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#main-image-game-details {
  width: 600px;
  height: 337px;
}

#container-thumbnail-images-game-details {
  display: flex;
  justify-content: flex-start;
  width: 600px;
  gap: 5px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

#video-placeholder-game-details {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  font-size: 14px;
  color: var(--logo-color);
}

.thumbnail-game-details {
  width: 115.56px;
  height: 65px;
}

#container-game-carousel-game-details-right {
  grid-area: right-carousel;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#container-game-carousel-game-details-right>p {
  color: var(--light-beige-font-color);
  font-size: 13px;
  width: 325px;
  padding-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#container-description-game-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left-details right-details";
  display: flex;
  column-gap: 40px;
}

#container-description-game-details-left {
  grid-area: left-details;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  color: #556772;
  gap: 5px;
}

#container-description-game-details-right {
  grid-area: right-details;
  font-size: 11px;
  color: var(--logo-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#container-tags-game-details {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.tags {
  width: fit-content;
  color: #67C1F5;
  font-size: 12px;
  background-color: rgb(33, 56, 71);
  padding: 3px 10px;
  border-radius: 2px;
}

.sign-in-wish-list-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
  color: var(--light-beige-font-color);
  font-size: 12px;
  background-color: rgb(24, 34, 48);
  margin-bottom: 30px;
  padding: 0 15px;
}

.button-add-to-wishlist {
  height: 30px;
  padding: 0 20px;
  color: #67C1F5;
  background-color: rgb(40, 65, 85);
  border-radius: 2px;
}

.button-add-to-wishlist.hover:hover {
  background: linear-gradient(to right, rgb(135, 206, 250), rgb(70, 130, 180));
  color: white;
}

#container-bottom-section-game-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "left-bottom-details right-bottom-details";
  column-gap: 20px;
}

#container-bottom-section-left {
  grid-area: left-bottom-details;
}

#container-buy-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 10px 20px;
  height: 72px;
  background: linear-gradient(to right, rgb(46, 61, 74), rgb(87, 101, 115));
  border-radius: 5px;
  color: white;
  position: relative;
}

#container-price-add-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  position: absolute;
  right: 20px;
  bottom: -18px;
  width: fit-content;
  height: 36px;
  padding-right: 3px;
}

.button-add-to-cart {
  height: 30px;
  background: linear-gradient(to right, rgb(119, 175, 59), rgb(91, 137, 46));
  font-size: 16px;
  padding: 0 20px;
  color: var(--logo-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.button-add-to-cart.hover:hover {
  background: linear-gradient(to right, rgb(149, 205, 89), rgb(111, 167, 56));
  color: white;
}

#container-bottom-description-game-details {
  margin-top: 45px;
}

#container-game-details-page hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, rgb(72, 102, 93), transparent);
  margin: 3px 0 15px 0;
}

#container-requirements-inner {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container-requirements-inner-value-title {
  display: flex;
}

.requirements-title {
  font-size: 13px;
  color: #61686D;
}

.requirements-value {
  font-size: 13px;
  color: var(--logo-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

#container-bottom-section-right {
  grid-area: right-bottom-details;
}

#container-game-details-side {
  font-size: 13px;
  padding: 20px 15px;
  background: linear-gradient(to right, rgb(21, 32, 44), rgb(14, 20, 28));
  height: fit-content;
}

#container-game-details-side-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#container-external-links-outer {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 15px;
}

.external-links-container {
  display: flex;
  align-items: center;
  height: 25px;
  padding: 5px;
  background: linear-gradient(to right, rgb(29, 48, 64), rgb(24, 39, 50));
  color: #67C1F5;
}

.social-media-icons {
  color: white;
}

.external-links-icon {
  font-size: 0.75rem;
  color: var(--logo-color);
  padding-top: 2px;
}

#container-reviews-game-details {
  min-height: 200px;
}

.button-leave-review {
  height: 30px;
  width: 110px;
  background-color: rgb(24, 130, 176);
  color: white;
  font-size: 16px;
  border-radius: 2px;
  cursor: not-allowed;
}

.button-leave-review.hover:hover {
  background-color: rgb(59, 198, 255)
}

#container-reviews-game-details>div {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}


#container-thumbnail-images-game-details .thumbnail-game-details {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#container-thumbnail-images-game-details .thumbnail-game-details:hover {
  opacity: 0.7;
  transform: scale(1.05);
}


.fade-in {
  width: 100%;
  height: auto;
  animation: fadeIn 0.5s ease-in 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
