#container-checkout-page {
  background-color: rgb(13, 13, 13);
  background-image:
    linear-gradient(45deg, rgba(255, 255, 255, 0.7) 25%, transparent 25%),
    linear-gradient(-45deg, rgba(255, 255, 255, 0.7) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgba(255, 255, 255, 0.7) 75%),
    linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, 0.7) 75%);
  background-size: 10px 10px;
  background-blend-mode: overlay;
}

#container-checkout-page-inner {
  width: 940px;
  background:
    linear-gradient(5deg, rgba(70, 85, 45, 0.7) 0%, rgba(90, 105, 60, 0.7) 50%, rgba(70, 85, 45, 0.7) 80%),
    linear-gradient(25deg, rgba(70, 85, 45, 0.7) 0%, rgba(90, 105, 60, 0.7) 50%, rgba(70, 85, 45, 0.7) 80%);
  background-blend-mode: overlay;
  margin: 0 auto;
  padding: 40px 15px 100px 15px;
  min-height: 1200px;
}

#container-checkout-page-inner-left {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#container-title-checkout {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

#container-title-checkout h1 {
  align-self: flex-start;
  color: var(--logo-color);
}

#container-location-checkout {
  display: flex;
  gap: 15px;
}

.container-local-fields-checkout {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  margin-bottom: 20px;
}

#container-games-in-shopping-cart {
  display: flex;
  justify-content: space-between;
  color: var(--logo-color);
  gap: 5px;
}

#container-cost-calculations-checkout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left-price right-price";
  align-self: flex-end;
  column-gap: 40px;
}

#container-price-titles {
  grid-area: left-price;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

#container-price-values {
  grid-area: right-price;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

#disclaimer-checkout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  color: var(--logo-color);
}

#container-checkout-page select {
  height: 32px;
}

#container-checkout-page input {
  height: 32px;
}

#container-checkout-page button {
  height: 32px;
  background: linear-gradient(to right, rgb(62, 154, 232), rgb(38, 94, 201));
  color: white;
  border-radius: 2px;
  width: 100%;
}
