:root {
  --logo-color: #C5C3C0;
  --light-beige-font-color: #DCDEDF;
  --primary-light-font-color: #E5E4DC;
  --error-font-color: #C15755;
  --nav-font-color-selected: #1A9FFF;
  --nav-background-color: #171d25;
  --input-background-color: #32353C;
  --body-background-color: rgb(27, 40, 55);
  --footer-background-color: #171A21;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  outline: none;
}

textarea {
  resize: vertical;
  padding: 10px;
}

button {
  border: none;
  cursor: pointer;
}

.error {
  color: var(--error-font-color);
  font-size: 12px;
  position: absolute;
  right: 0;
}

.error-game {
  color: var(--nav-font-color-selected);
  font-size: 12px;
  position: absolute;
  right: 0;
  top: -18px;
}


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
