#container-wishlist-shoppingcart-buttons {
  display: flex;
  gap: 3px;
  position: absolute;
  right: 0;
  top: -22px;
}

#container-wishlist-shoppingcart-buttons button {
  border-radius: 1px;
  width: 95px;
  height: 20px;
  font-size: 11px;
  color: white;
  font-weight: bold;
  opacity: 0.95;
}

#navbar-wishlist-button {
  background-color: rgb(112, 150, 162);
}

#navbar-shopping-cart-button {
  background-color: #5C7E10;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

#navbar-wishlist-button:hover {
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(159, 167, 174));
  color: black;
}

#navbar-shopping-cart-button:hover {
  background-color: rgb(127, 166, 85);
}

#container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  background: linear-gradient(to right, rgb(59, 112, 162), rgb(27, 54, 118));
  padding-left: 20px;
  padding-right: 5px;
  color: #E5E5E5;
  font-size: 13px;
  height: 35px;
  position: absolute;
  top: 30px;
  z-index: 1;
  opacity: 0.8;
  margin: 0 auto;
}

#container-avatar-store-link {
  display: flex;
  align-items: center;
  gap: 9px;
}

#container-navbar ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

#container-navbar li {
  cursor: not-allowed;
  color: white;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 3px rgb(0, 0, 0, 0.6);
}

#container-search-bar-nav {
  display: flex;
  align-items: center;
  border-radius: 2px;
  box-shadow: 2px 2px 0 0 rgba(52, 98, 128, 0.7);
  border-right: 0.5px solid #522258;
  border-bottom: 0.5px solid #522258;
  margin-bottom: 2px;
  height: 26px;
  background-color: rgba(52, 98, 128);
}

#container-search-bar-nav:hover {
  outline: 1px solid #6DC5D1;
}

#container-search-bar-nav input {
  height: 26px;
  border-radius: 2px 0 0 2px;
  background-color: rgba(52, 98, 128);
  width: 165px;
  color: #E5E5E5;
}

#container-search-bar-nav input::placeholder {
  color: rgb(14, 28, 36);
  font-style: italic;
  font-family: monospace;
}

#container-search-bar-nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: rgb(105, 164, 211);
  border: 0.7px solid black;
  border-radius: 2px;
  font-size: 1.3rem;
  color: rgb(46, 67, 98);
}

#container-search-bar-nav button:hover {
  background-color: rgb(135, 194, 231);
}
