#container-navigation-inner {
  display: flex;
  height: 105px;
  color: var(--light-beige-font-color);
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

#container-logo-navlinks {
  display: flex;
  align-items: center;
  gap: 60px;
}

#store-link {
  color: #1A9FFF;
  border-bottom: 2px solid #1A9FFF;
}

#container-navigation-inner img {
  height: 45px;
}

#container-navigation-inner ul {
  display: flex;
  gap: 15px;
  font-weight: bold;
}

#container-install-login {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 7px;
}

#install-button {
  height: 22px;
  color: var(--light-beige-font-color);
  padding: 0 8px;
  font-size: 11px;
  cursor: not-allowed;
}

#container-profile-button-avatar {
  display: flex;
  gap: 10px;
  margin-right: 35px;
}

#container-profile-button-avatar img {
  width: 35px;
  height: 35px;
  border: 2px solid gray;
  position: absolute;
  top: 0;
  right: 0;
}

#profile-button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 28px;
  right: 45px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: var(--input-background-color);
  font-size: 14px;
  width: fit-content;
  padding: 10px 20px;
  white-space: nowrap;
}

#container-login-signup {
  display: flex;
  align-items: center;
}

.login-signup-buttons {
  color: var(--logo-color);
  font-size: 11px;
}

.login-signup-buttons:hover {
  color: white;
}

@media screen and (max-width: 1000px) {
  #container-navigation-outer {
    padding: 0 20px;
    min-width: 380px;
  }
}

@media screen and (max-width: 600px) {
  #container-logo-navlinks>ul {
    display: none;
  }
}
